<div class="row-flex">
  <span class="flex"></span>
  <div class="column-flex">
    <button mat-raised-button color="primary" (click)="roll10Dice()">
      {{ 'dice-roll.action.10dice' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="sum10Dice()" [disabled]="!is10Dice">
      {{ 'dice-roll.action.add10dice' | translate }}
    </button>
  </div>
  <div class="column-flex">
    <button mat-raised-button color="primary" (click)="roll100Dice()">
      {{ 'dice-roll.action.100dice' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="flipFlop()" [disabled]="!canFlipFlop()">
      {{ 'dice-roll.action.moxie-flip-flop' | translate }}
    </button>
  </div>
  <span class="flex"></span>
</div>
<p id="dice-sum">
  <ng-container *ngIf="dicesDetail && dicesDetail.length > 1">
    {{dicesDetail.length}} {{ 'dice-roll.dices' | translate }} {{displayDicesSum()}}
  </ng-container>
</p>
<p id="dice-value">
  {{getFormatedDiceValue()}}
</p>
<p id="critical">
  <ng-container *ngIf="is100Dice && isCritical()">
    <ng-container [ngSwitch]=diceValue>
      <ng-template [ngSwitchCase]="00">{{ 'dice-roll.critical-success' | translate }}</ng-template>
      <ng-template [ngSwitchCase]="99">{{ 'dice-roll.critical-failure' | translate }}</ng-template>
      <ng-template ngSwitchDefault>{{ 'dice-roll.critical' | translate }}</ng-template>
    </ng-container>
  </ng-container>
</p>