<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ 'common.app.title' | translate }}
  </h1>
  <ul>
    <li (click)="changeLanguage('fr')">
      <img src="/assets/img/flags/france.png"> FR
    </li>
    <li (click)="changeLanguage('en')">
      <img src="/assets/img/flags/united-states.png"> EN
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<footer>
  <p>
    {{ 'common.app.contact' | translate }}<a href="https://github.com/VincentRoth/eclipse-phase-character-tools/issues" target="_blank">{{ 'common.app.source' | translate }}</a>.
  </p>
  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a>
  </p>
  <p>
    {{ 'common.license.paternity' | translate }}<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">{{ 'common.license.cc-by-nc-sa-3' | translate }}</a>.
  </p>
  <p>
    {{ 'common.license.derivated-work-1' | translate }}<a href="http://eclipsephase.com/" target="_blank">{{ 'common.license.original-work-name' | translate }}</a>{{ 'common.license.derivated-work-2' | translate }}<a href="http://posthumanstudios.com/" target="_blank">{{ 'common.license.original-work-paternity' | translate }}</a>{{ 'common.license.derivated-work-3' | translate }}<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a>{{ 'common.license.derivated-work-4' | translate }}<a href="https://www.black-book-editions.fr/" target="_blank">{{ 'common.license.original-work-french-editor' | translate }}</a>. {{ 'common.license.trademark' | translate }}
  </p>
  <p>
    {{ 'common.license.flag-credits' | translate }}<a href="https://www.iconfinder.com/iconsets/flags_gosquared" target="_blank">{{ 'common.license.flag-paternity' | translate }}</a>.
  </p>
  <p>
    {{ 'common.license.illustrations-1' | translate }}<a href="http://www.drivethrurpg.com/browse.php?keywords=eclipse+phase+hack+pack" target="_blank">{{ 'common.license.illustrations-sources' | translate }}</a>{{ 'common.license.illustrations-2' | translate }}<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a>.
  </p>
</footer>