.mat-menu-item img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 4px;
}

footer {
    font-size: 11px;
    padding: 10px;
}

footer p {
    text-align: center;
    margin: 5px 0;
}
