@import '~@angular/material/theming';
@import './styles/footer.theme';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include footer-theme($theme);

body {
    min-height: 100vh;
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.flex {
    flex: 1;
}

.row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-flex {
    display: flex;
    flex-direction: column;
}